__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
virt/
ENV/
env.bak/
virt.bak/
*.egg-info/
dist/
build/
*.egg

task.db


.idea/
*.iml


.ipynb_checkpoints


.DS_Store
Thumbs.db

# Логи



*.tmp
*.temp
